$black: #333;
$grey: #f6f5f1;

$white: #fff;

$green: #00886b;
$darkgreen: #086866;

$serif: 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
$sans-serif: 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
$didot: 'Didot 11 A', 'Didot 11 B', Georgia, serif;