---
layout: default
title: Bryn Taylor
published: true
---

<section class="home-intro">
  <img src="img/background-intro.jpg" class="home-intro__image">
  <article class="home-intro__content">
    <h1>Simplify your <span class="heading-break">style life.</span></h1>
    <p>Do you wish you could wake up Monday morning and not have to worry about what to wear? <span class="learn-more-intro" data-more="intro">Learn more...</span>
    <span class="content-extra" data-extra="intro">Fashion is constantly in flux. Trends come and go, and what's 'in' is forever shape-shifting. I offer a solid strategy that allows you to receive trends at your discretion, look incredible all the time, and get on with your life. Together, we create a streamlined, confident wardrobe that gets you out the door and ready to do great things.</span></p>
    
    <p><a class="video-toggle" href="http://www.youtube.com/watch?v=w01uSblkppw">Check out my video</a> to learn about working with me.</p>
  </article>
  <aside class="book-callout">
    <h1>Do you have my latest Style Guide?</h1>
    <p><a href="http://therestylist.us2.list-manage.com/subscribe?u=af94a82e99e0b5bdf5a7d7a1e&id=eea1162356" target="_blank">Right this way (it's free)...</a></p>
  </aside>
</section>
<a name="services"></a>
<section class="services wrap">
  <h1 class="section-heading">Packages for Men &amp; Women</h1>
  <div class="services-row">
  {% for post in site.categories.top reversed %}
    <article class="service-each" data-postname="{{ post.name }}">
      <hgroup class="services-content-toggle">
        <h1 class="services-title">{{ post.title }}</h1>
        <h2 class="services-price">{{ post.price }} <span>&amp; up</span></h2>
      </hgroup>
      <div class="services-content">
        <div class="service-tagline">{{ post.tagline }}</div>
        <span class="content-extra" data-postname="{{ post.name }}">
        {{ post.content }}
        </span>
      </div>
      <p class="learn-more" data-postname="{{ post.name }}">Details...</p>
    </article>
  {% endfor %}
  </div>

  <h1 class="section-heading">Other Offerings</h1>
  <div class="services-row col-2">
  {% for post in site.categories.other reversed %}
    <article class="service-each service-no-float" data-postname="{{ post.name }}">
      <hgroup class="services-content-toggle">
        <h1 class="services-title">{{ post.title }}</h1>
        <h2 class="services-price">{{ post.price }} <span>&amp; up</span></h2>
      </hgroup>
      <div class="services-content">
        <div class="service-tagline">{{ post.tagline }}</div>
        <span class="content-extra" data-postname="{{ post.name }}">
        {{ post.content }}
        </span>
      </div>
      <p class="learn-more" data-postname="{{ post.name }}">Details...</p>
    </article>
  {% endfor %}
  </div>
</section>
<a name="interested"></a>
<section class="interested">
  <h1>Interested in learning more?</h1>
  <p>   </p>
  <a href="https://bryntaylor.wufoo.com/forms/style-profile/" title="Fill out my quick questionaire" target="_blank" class="button button__big">Let's talk</a>
</section>
<nav class="m-nav">
  <ul>
    <li class="nav-item" data-show="client-spotlight">Client Spotlight</li>
    <li class="nav-item" data-show="lookbook">Lookbook</li>
    <li class="nav-item" data-show="my-story">My Story</li>
  </ul>
</nav>
<a name="client-spotlight"></a>
<section class="client-spotlight">
  <div class="wrap">
    <div class="client-spotlight__content">
      <h1 class="section-heading">Client Spotlight</h1>
      <article class="client-spotlight__client">
        <h1>Shera, Media Marketing Manager</h1>
        <img src="img/background-client-spotlight.jpg">
        <p>"Bryn really got me. She understood what I wanted&mdash;cool, easy(!) style&mdash;and helped me achieve it over and over again."</p>
      </article>
    </div>
  </div>
  <span class="extend-interested-block"></span>
</section>
<a name="lookbook"></a>
<section class="lookbook wrap">
  <h1 class="section-heading">Lookbook</h1>
  <div class="flexslider">
    <ul class="slides">
      {% for post in site.categories.lookbook reversed %}
      <li class="lookbook__slide {% if forloop.index0 == 0 %}first__slide{% endif %}">
        <img src="{{ post.image_location }}" class="lookbook__slide-image">
        <div class="lookbook__slide-caption">
          {{ post.content }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<a name="my-story"></a>
<section class="my-story">
  <div class="wrap">
    <article class="my-story__content">
      <h1 class="section-heading">My Story</h1>
      <img src="img/background-bio.jpg">
      <p>As a personal stylist, my goal is to empower my clients through smart, sustainable style choices. I help both men and women understand the basics of great style, and how to achieve dress-and-go confidence every day.</p>
      <p>I've worked in many areas of the fashion industry, from design to merchandising to online media, which has allowed me to gain an insider's perspective. From a personal standpoint, I know firsthand the effects of wardrobe anxiety and image-related frustrations. Pulling from both experiences, I'm able to offer my clients a sincere, professional, and lighthearted approach to mastering great style.</p>
      <p>Since its launch in 2011, my business (formerly named The Re-Stylist) has served clients in both New York and San Francisco, and has been featured on several media outlets including <a href="http://www.ehow.com/videos-on_12220734_fashion-women-over-40.html">eHow.com</a> and Dr. Oz's <a href="http://www.youbeauty.com/body-fitness/restyle-your-wardrobe">YouBeauty</a>. As of 2013, I work with clients from all over the globe with my signature virtual styling program. I'd love to work with you!</p>
    </article>
  </div>
  <span class="extend-interested-block"></span>
</section>
<section class="contact">
  <div class="contact-cancel back"><img src="img/button-back.png"></div>
  <div class="wrap">
    <div id="wufoo-zz2u0da0g14jh7">
      Contact me <a href="//bryntaylor.wufoo.com/forms/zz2u0da0g14jh7">here</a>.
    </div>
      <script type="text/javascript">var zz2u0da0g14jh7;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'bryntaylor', 
      'formHash':'zz2u0da0g14jh7', 
      'autoResize':true,
      'height':'517',
      'async':true,
      'header':'show', 
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { zz2u0da0g14jh7 = new WufooForm();zz2u0da0g14jh7.initialize(options);zz2u0da0g14jh7.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
    <article class="contact__content">
      <p>You can also email me at <a href="mailto:bryn@bryntaylorstyle.com" title="click to email me">bryn at bryntaylorstyle dot com</a> or <a href="https://www.facebook.com/TRStylist" title="Follow me on Facebook">follow me on Facebook</a>.</p>
      <p>If you are interested in working with me, please be sure to fill out this <a href="https://bryntaylor.wufoo.com/forms/style-profile/" title="Fill out my quick questionnaire" target="_blank">get started</a> form.</p>
       <p>Gift certificates are available for all services! Just specify in your message, and I'll get back to you with more info. </p>
    </article>
  </div>
</section>
<div class="video-container">
  <div class="video-cancel back"><img src="img/button-back.png"></div>
  <div id="youtube-video"></div>
</div>