<footer class="site-footer">
  <p>New York | San Francisco</a></p>
  <p>Email me at <a href="mailto:bryn@bryntaylorstyle.com">bryn at bryntaylorstyle dot com</a></p>
  <p><a href="https://www.facebook.com/BrynTaylorStyle" class="footer-icon fi-social-facebook"></a>
  <a href="https://twitter.com/BrynTaylorStyle" class="footer-icon fi-social-twitter"></a>
  <a href="http://instagram.com/bryntaylorstyle" class="footer-icon fi-social-instagram"></a>
  <a href="http://www.pinterest.com/bryntaylorstyle/" class="footer-icon fi-social-pinterest"></a></p>
  <p>Photography by <a href="http://ashleybatz.com">Ashley Batz</a> and design by <a href="http://stewartmccoy.com">Stewart McCoy</a></p>
</footer>