<footer class="site-footer">
  <p>Email me at <a href="mailto:bryn@bryntaylor.com">bryn at bryntaylor dot com</a></p>
  <p><a href="https://www.facebook.com/TRStylist" class="footer-icon fi-social-facebook"></a>
  <a href="https://twitter.com/TheReStylist" class="footer-icon fi-social-twitter"></a>
  <a href="http://instagram.com/therestylist" class="footer-icon fi-social-instagram"></a>
  <a href="http://www.pinterest.com/therestylist/" class="footer-icon fi-social-pinterest"></a></p>
  <p>Photography by <a href="http://ashleybatz.com">Ashley Batz</a> and design by <a href="http://stewartmccoy.com">Stewart McCoy</a></p>
</footer>